body{
    margin: 0;
    padding: 0;
}
header{
    background-color: aquamarine;
}
header ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0.5em;
    margin: 0;
}
header li{
    margin: 0 1em;
}
header.logonf{
    margin-right: auto;
}
